@import url("https://elevate-ui.vercel.app/components/components.css");
@import url("./style/components.css");

.app {
  grid-template-columns: 25rem 1fr;
}

.auth {
  grid-template-areas: 
  "header" 
  "content";
  grid-template-rows: auto 1fr;
}

aside {
  grid-area: sidebar;
}

.categories {
  grid-area: category;
  border-bottom: 1px solid var(--text-color100);
}

.content {
  grid-area: content;
}


.full-height {
  height: 100vh;
}

.grow {
  flex-grow: 1;
}

.grid-linear > main::-webkit-scrollbar {
  display: none;
}

.landing-page {
  grid-template-areas:
    "header header"
    "category category"
    "content hero";
  grid-template-rows: 7rem 5rem auto;
  grid-template-columns: 2fr 3fr;
}

.header {
  grid-area: header;
  height: fit-content;
}

.items {
  grid-area: items;
}

.main {
  gap: 2rem;
  grid-area: main;
}

.page-center {
  width: 70%;
  margin: 0 auto;
}

.page-center main::-webkit-scrollbar {
  display: none;
}

.pointer,
.pointer *{
  cursor: pointer;
}

.product-list {
  overflow-y: scroll;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.product-page {
  grid-template-areas:
    "header header"
    "sidebar main";
  grid-template-columns: 25rem 1fr;
  grid-template-rows: auto 1fr;
}
.search-icon {
  display: none;
}

.qty {
  display: inline-flex;
}
.qty * {
  width: 3rem;
  height: 3rem;

}
.qty-input {
  text-align: center;
}
.qty-input::-webkit-inner-spin-button, 
.qty-input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* sidebar */
.sidebar {
  border-right: 1px solid var(--text-color100);
  overflow-y: scroll;
}
.summary {
  grid-area: summary;
  justify-self: end;
}

.grid-linear {
  grid-template-areas:
    "header"
    "title"
    "main";
  grid-template-rows: auto auto 1fr;
}

.white {
  color: white;
}

.title {
  grid-area: title;
  height: fit-content;
}

/* responsiveness */

@media (max-width: 492px) {
  
  html {
    font-size: 50%;
  }

  .fill-height {
    height: auto;
    flex-wrap: wrap-reverse;
  }
  
  .hero-img {
    grid-area: hero;
  }

  .hamburger {
    display: flex;
  }

  .landing-page {
    grid-template-areas:
      "header header"
      "category category"
      "hero hero"
      "content content";
  }
  
  .product-page {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main";
  }

  .sidebar {
    position: absolute;
    z-index: 2;
    background: white;
    left: -25rem;
    transition: 0.3s ease-in-out;
    height: -webkit-fill-available;
  }

  .searchbar {
    display: none;
  }
  .search-icon {
    display: block;
  }
}