@import url("https://elevate-ui-git-forms-tushartiwari7.vercel.app/components/components.css");

a {
  text-decoration: none;
}

.app {
  grid-template-columns: 25rem 1fr;
}

.btn-login {
  background: white;
}
.btn-login:hover {
  border-color: white;
}


.categories,
.category-list  {
  justify-content: space-around;
}

/* cards */
.card {
 width: fit-content;
  max-width: 30rem;
}

.clear-search-filters {
  text-align: right;
  display: block;
}

.card.cart {
  width: fit-content;
  max-width: none;

}
.card-img {
  height: 20rem;
  width: 20rem;
}
.card-img-cart {
  width: 15rem;
  height: 20rem;
  object-fit: fill;
}
.card-horizontal {
  gap: 1rem;
}

.cart-page {
  width: max-content;
  margin: 0 auto;
  transform: translateY(-10%);
}

.checkout {
  min-width: 30rem;
}

.discount {
  color: var(--dark-green);
  font-size: 1.1em;
}

.full-height {
  height: 100vh;
  overflow: hidden;
}

.fill-height {
  height: -webkit-fill-available;
}

.input {
  background: #fefefe;
  color: var(--text-color);
}


.pointer,
.pointer *{
  cursor: pointer;
}

.product-list {
  overflow-y: scroll;
}

.product-list {
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.main {
  gap: 2rem;
  padding-bottom: 7rem;
}

.max-height {
  height: 100%;
}

.qty {
  display: inline-flex;
}
.qty * {
  width: 3rem;
  height: 3rem;

}
.qty-input {
  text-align: center;
}
.qty-input::-webkit-inner-spin-button, 
.qty-input::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

/* sidebar */
.sidebar {
  border-right: 1px solid var(--text-color100);
  overflow: scroll;
  padding-bottom: 5rem;
}

.white {
  color: white;
}
